<main>
    <header>
    <h1>Welcome, {{username}}</h1>
	  <nav>
		<ul>
            <li><a href="/add">Add game to database</a></li>
		  <li><a href="/profile">Profile</a></li>
		  <li><a href="/quiz">Recommendation Quiz</a></li>
          <li><a href="/quiz">Search for game</a></li>
		  <li><a href="/">Home</a></li>
		</ul>
	  </nav>
	</header> 
</main>
