<main>
    <a href="/admin/manage">Go back</a>
    <header>
    <h1>Welcome, Admin. Add a game to the database by filling out the fields.</h1>
    <p class='required'>Required fields are highlighted red.</p>
	</header>
        <form action = "/admin/addgame" name="login" method ="post" id="addgame-form">
            <label for="title" class='required'>Game Title:</label>
            <input type="text" name="title" id="title"><br>
            <label for="dateReleased" class="nonrequired">Date Released:</label>
            <input type="date" name="dateReleased" id="dateReleased"><br>
            <label for="image" class="nonrequired">Image link:</label>
            <input type="text" name="image" id="image"><br>
            <label for="genres" class='required'>Genres, separated by commas:</label>
            <input type="text" name="genres" id="genres"><br>
            <label for="developers" class="nonrequired">Developers, separated by commas:</label>
            <input type="text" name="developers" id="developers"><br>
            <label for="publishers" class="nonrequired">Publishers, separated by commas:</label>
            <input type="text" name="publishers" id="publishers"><br>
            <label for="ageRating" class="nonrequired">Age Rating:</label>
            <input type="text" name="ageRating" id="ageRating"><br>
            <label for="platforms" class="nonrequired">Platforms, separated by commas</label>
            <input type="text" name="platforms" id="platforms"><br>
            <label for="purchaseLinks" class="nonrequired">Purchase Links, separated by commas:</label>
            <input type="text" name="purchaseLinks" id="purchaseLinks"><br>
            <button type="submit">Enter</button>
        </form>    
        <p class='error' id='error'>{{errormsg}}</p>
        <script src="/public/js/addgame.js"></script>
</main>
