<main>
    <header>
    <h1>GAMESEEKR</h1>
	</header>
        <p>Game {{game}} succesfully created!</p>
        <a href="/addgame">Click here to add another game</a><br>
        <a href="/nav">Click here to go to the main site</a>
</main>
