<main>
        <p>Game {{game.title}} succesfully created!</p>
        <a href="/games/game/{{game._id}}">Click here to view the newly added game</a><br>
        <a href="/admin/addgame">Click here to add another game</a><br>
        <a href="/nav">Click here to go to the main site</a>
</main>
