<main>
    <a href="/nav">Go back</a>
    {{#if games}}
    <ul>
        {{#each games}}
        <li><a href="/games/game/{{this.title}}">{{this.title}}</a></li>
        {{/each}}
    </ul>
    {{/if}}
</main>