<button onclick="location.href='/nav'" type="button">Go back to navigation menu</button>
<main class="screen">
    <!-- <a href="/nav">Go back</a> -->
    {{#if games}}
    <ul>
        {{#each games}}
        <li><a href="/games/game/{{this._id}}">{{this.title}}</a></li>
        {{/each}}
    </ul>
    {{/if}}
</main>