<main class="screen">
    <header>
    <h1>GAMESEEKR</h1>
	</header>
        <p>Successfully logged out.</p>
        <!-- <a href="/">Log in</a> -->
        <img src="../public/images/logo.png" alt="GAMESEEKR logo" class="centerimage">
        <br>
        <button onclick="location.href='/'" type="button">Log In</button>
</main>
