<main>
    <header>
    <h1>GAMESEEKR</h1>
	</header>
        <p>{{errormsg}}</p>
        <form action = "/" method ="post" id="login-form">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <button type="submit">Enter</button>
        </form>
        <a href="/signup">Sign up</a>
        
</main>
