<button onclick="location.href='/nav'" type="button">Go Back</button>
<main class="screen">
    <!--<a href="/nav">Go back</a> -->

    <header>
    <h1>Welcome, Admin.</h1>
    </header>
    <!--<a href="/admin/addgame">Add a game to the database</a><br>
    <a href="/admin/remove">Remove a game from the database</a><br>
    <a href="/admin/modify">Modify a game in the database</a><br> -->
     <button onclick="location.href='/admin/addgame'" type="button">Add a game to the database</button>
        <br>
        <br>
        <button onclick="location.href='/admin/remove'" type="button">Remove a game from the database</button>
        <br>
        <br>
        <button onclick="location.href='/admin/modify'" type="button">Modify a game in the database</button>
</main>
