<main>
    <a href="/nav">Go back</a>
    <header>
    <h1>Welcome, Admin.</h1>
    <a href="/admin/addgame">Add a game to the database</a><br>
    <a href="/admin/remove">Remove a game from the database</a><br>
    <a href="/admin/modify">Modify a game in the database</a><br>
</main>
