<main class="screen">
    <p>{{game.title}} modified succesfully.</p> 
    <!--<a href="/games/game/{{game._id}}">Click here to view the game.</a> <br>-->
    <button onclick="location.href='/games/game/{{game._id}}'" type="button">Click here to view the game</button>
    <br>
    <br>
    <!--<a href="/admin/modify">Go Back</a> -->
    <button onclick="location.href='/admin/modify'" type="button">Go Back</button>
</main>