<main class="screen">
    <header>
    <h1>GAMESEEKR</h1>
	</header>
        <p>Navigation error. {{error}}</p>
        <!-- <a href="/">Click here to go to the main site</a> -->
        <button onclick="location.href='/'" type="button">Click here to go to the main site</button>
</main>
