<main class="screen">
        <p>{{errormsg}}</p>
        <!--<a href="/nav">Click here to go to the main site</a>-->
        <button onclick="location.href='/nav'" type="button">Click here to go to the main site</button>
</main>