<main>
    <h1>Seek a game!</h1>
    <form id="quizForm">

        <!-- filter by year of release (some modern games have a 
        retro vibe, maybe filter by that tag as well) -->
        <div class="question">
            <p>Are you looking for a more modern or retro experience?</p>
            <input type="radio" id="modern" name="age" value="Modern">
            <label for="modern">Modern</label><br>
            <input type="radio" id="retro" name="age" value="Retro">
            <label for="retro">Retro</label><br>
        </div>

        <div class="question">
            <p>Do you like to </p>
        </div>

        <div class="question">
        </div>

        <div class="question">
        </div>

        <div class="question">
        </div>

        <div class="question">
        </div>

        <div class="question">
        </div>

    </form>
</main>