<main class="screennotcenter">
    <!-- <a href="/nav">Go back</a> -->
    <button onclick="location.href='/nav'" type="button">Go Back</button>
    <h1>Seek a game!</h1>
    <form id="quizForm" method="post">
        <!-- some placeholder questions for now, will expand by a lot
        when we can rough out what tags we have-->

        <!-- filter by year of release (some modern games have a 
        retro vibe, maybe filter by that tag as well) -->

        <div class="question">
            <p>Which of the below aspects of a game are you most
                interested in?</p>
            <input type="radio" id="action" name="genre1" value="Action">
            <label for="action">Action</label><br>
            <input type="radio" id="strategy" name="genre1" value="Strategy">
            <label for="strategy">Strategy</label><br>
            <input type="radio" id="story" name="genre1" value="Adventure">
            <label for="story">Story</label><br>
        </div>

        <div class="question">
            <p>What do you like to do most on a Friday if not play games?</p>
            <input type="radio" id="fighting" name="genre2" value="Fighting">
            <label for="fighting">Go to the gym</label><br>
            <input type="radio" id="sport" name="genre2" value="Sport">
            <label for="sport">Watch the game</label><br>
            <input type="radio" id="shooter" name="genre2" value="Shooter">
            <label for="shooter">Work</label><br>    
        </div>

        <div class="question">
            <p>Do you prefer</p>
            <input type="radio" id="racing" name="genre3" value="Racing">
            <label for="racing">Going fast</label>
            <input type="radio" id="rpg" name="genre3" value="RPG">
            <label for="rpg">Hitting hard</label>
        </div>

        <div class="question">
            <p>Which platforms are available to you?</p>
            <input type="checkbox" id="pc" name="platform" value="PC">
            <label for="pc">PC</label> <br>

            <input type="checkbox" id="ps3" name="platform" value="Playstation 3">
            <label for="ps3">PlayStation 3</label> <br>

            <input type="checkbox" id="ps4" name="platform" value="Playstation 4">
            <label for="ps4">PlayStation 4</label> <br>

            <input type="checkbox" id="ps5" name="platform" value="Playstation 5">
            <label for="ps5">PlayStation 5</label> <br>

            <input type="checkbox" id="xbox360" name="platform" value="Xbox 360">
            <label for="xbox360">Xbox 360</label> <br>

            <input type="checkbox" id="xboxone" name="platform" value="Xbox One">
            <label for="xboxone">Xbox One</label> <br>

            <input type="checkbox" id="switch" name="platform" value="Nintendo Switch">
            <label for="switch">Nintendo Switch</label> <br>

            <input type="checkbox" id="ios" name="platform" value="iOS">
            <label for="ios">iOS</label> <br>

            <input type="checkbox" id="android" name="platform" value="android">
            <label for="android">Android</label> <br>
        </div>

        <div class="question">
            <p>Are you a S or a M?</p>
            <input type="radio" id="casual" name="genre4" value="Casual">
            <label for="casual">What does that mean?</label><br>
            <input type="radio" id="competitive" name="genre4" value="Competitive">
            <label for="competitive">I like to flame my teammates in all chat (S)</label><br>
            <input type="radio" id="difficult" name="genre4" value="Difficult">
            <label for="difficult">Adam Szyluk(M)</label><br>
        </div>

         <div class="question">
            <p>Do you have any friends?</p>
            <input type="radio" id="multiplayer" name="genre5" value="Multiplayer">
            <label for="multiplayer">Yes</label><br>
            <input type="radio" id="singleplayer" name="genre5" value="Singleplayer">
            <label for="singleplayer">No</label><br>
        </div>

        <div class="question">
            <p>Who do you prefer games by?</p>
            <input type="radio" id="indie" name="genre6" value="Indie">
            <label for="indie">Independent Creators</label><br>
            <input type="radio" id="aaa" name="genre6" value="AAA">
            <label for="aaa">Major studios</label><br>
        </div>

         <div class="question">
            <p>What is your idea of the perfect date?</p>
            <input type="radio" id="romance" name="genre7" value="Romance">
            <label for="romance">Candlelight Dinner</label><br>
            <input type="radio" id="educational" name="genre7" value="Educational">
            <label for="educational">That's a tough one. I'd have to say April 25th. Because it's not too hot, not too cold, 
                all you need is a light jacket.</label><br>
            <input type="radio" id="horror" name="genre7" value="Horror">
            <label for="horror">Watching a scary movie</label><br>
             <input type="radio" id="anime" name="genre7" value="Anime">
            <label for="anime">Like as in 3D? It's 2021 its about the 2D these days.</label><br>
             <input type="radio" id="roguelike" name="genre7" value="Roguelike">
            <label for="roguelike">procedurally generated dungeon crawl</label><br>
        </div>

         <div class="question">
            <p>Are you sad and lonely?</p>
            <input type="radio" id="datingsim" name="genre8" value="Dating Sim">
            <label for="datingsim">Yes</label><br>
            <input id= "no" type="radio" name="genre8" value="">
            <label for="no">No</label><br>
        </div>

        <div class="question">
            <p>Do you like the outdoors?</p>
            <input type="radio" id="survival" name="genre9" value="Survival">
            <label for="survival">Yes! I love camping!</label><br>
            <input type="radio" id="agriculture" name="genre9" value="Agriculture">
            <label for="agriculture">Yes! I love working in my garden!</label><br>
            <input id= "noo" type="radio" name="genre9" value="">
            <label for="noo">I don't know what grass looks like</label><br>
        </div>
          <div class="question">
            <p>What are you looking for in a game?</p>
            <input type="radio" id="sexualcontent" name="genre10" value="Sexual Content">
            <label for="sexualcontent">Big Badonkers</label><br>
            <input type="radio" id="bullethell" name="genre10" value="Bullet Hell">
            <label for="bullethell">Putting my mechanics to the test</label><br>
            <input type="radio" id="jrpg" name="genre10" value="JRPG">
            <label for="jrpg">Min/Maxing literally everything</label><br>
            <input type="radio" id="building" name="genre10" value="Building">
            <label for="building">Creativity</label><br>
            <input type="radio" id="cardgame" name="genre10" value="Card Game">
            <label for="cardgame">Sending Someone to the Shadow Realm</label><br>
        </div>
        <br>
        <input type="submit">

    </form>

    <div id="quizResult">
        <ul id="seconaryResults"></ul>
    </div>
</main>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="../public/js/quiz.js"></script>