<main>
    <a href="/nav">Go back</a>
    <header>
    <h1>Search for game</h1>
	</header>
        <p>{{errormsg}}</p>
        <form action = "/games/searchresults" method ="post" id="game-search">
            <label for="game">Game title:</label>
            <input type="text" name="game" id="game">
            <button type="submit">Enter</button>
        </form>
</main>
