<button onclick="location.href='/nav'" type="button">Go Back</button>
<main class="screen">
    <!--<a href="/nav">Go back</a> -->
    <header>
    <h1>Search for game</h1>
	</header>
        <form action = "/games/searchresults" name = 'search' method ="post" id="game-search" class="container">
            <label for="title">Game title:</label>
            <br>
            <input type="text" name="title" id="title">
            <br>
            <br>
            <button type="submit">Enter</button>
        </form>
        <p class='error' id='error'>{{errormsg}}</p>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
        <script src="/public/js/search.js"></script>
</main>
