<main class="screen">
    <header>
    <h1>GAMESEEKR</h1>
	</header>
        <p>{{error}}</p>
        <!--<a href="/signup">Sign up</a>-->
        <button onclick="location.href='/signup'" type="button">Sign up</button>
</main>
