<main class="screen">
    <header>
    <h1>GAMESEEKR</h1>
	</header>
        <p>Account successfully created for user {{user}}.</p>
        <!--<a href="/">Click here to go to the main site</a> -->
         <button onclick="location.href='/'" type="button">Back to Main</button>
</main>
