<main>
    <header>
    <h1>Signup Form</h1>
	</header>
        <form action = "/signup" method ="post" name="login" id="login-form">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <label for="confirmpassword">Confirm Password:</label>
            <input type="password" name="confirmpassword" id="confirmpassword">
            <button type="submit">Enter</button>
        </form>
        <p class='error' id='error'>{{errormsg}}</p>
        <a href="/">Back</a>
        <script src="/public/js/signup.js"></script>
</main>
