<main class="screen">
    <header>
    <h1>Signup Form</h1>
	</header>
        <div class="container">
        <form action = "/signup" method ="post" name="login" id="signup-form">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
            <br>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <br>
            <label for="confirmpassword">Confirm Password:</label>
            <input type="password" name="confirmpassword" id="confirmpassword">
            <br>
            <button type="submit">Enter</button>
        </form>
        </div>
        <p class='error' id='error'>{{errormsg}}</p>
        <!--<a href="/">Back</a> -->
        <img src="../public/images/logo.png" alt="GAMESEEKR logo" class="centerimage">
        <br>
        <button onclick="location.href='/'" type="button">Back</button>
        <script src="/public/js/signup.js"></script>
</main>
