<main class="screennotcenter">
    <header>
    <h1 class= "centered">Welcome, {{username}}</h1>
	  <nav>
		<ul>
		 <!-- <li><a href="/profile">Profile</a></li>
		  <li><a href="/quiz">Recommendation Quiz</a></li>
          <li><a href="/games/allgames">View All Games</a></li>
          <li><a href="/games/search">Search For a Game</a></li>
					<li><a href="/following">Reviews of followed users</a></li>
		  <li><a href="/logout">Log out</a></li>
		  -->
		  <li><button onclick="location.href='/profile'" type="button">Profile</button></li>
		  <br>
		  <li><button onclick="location.href='/quiz'" type="button">Recommendation Quiz</button></li>
		  <br>
		  <li><button onclick="location.href='/games/allgames'" type="button">View All Games</button></li>
		  <br>
		  <li><button onclick="location.href='/games/search'" type="button">Search For a Game</button></li>
		  <br>
		  <li><button onclick="location.href='/following'" type="button">Reviews From Followed Users</button></li>
		  <br>
		  <li><button onclick="location.href='/logout'" type="button">Log Out</button></li>

		</ul>
	  </nav>
	</header> 
</main>
