<main>
    <header>
    <h1>Welcome, {{username}}</h1>
	  <nav>
		<ul>
		  <li><a href="/profile">Profile</a></li>
		  <li><a href="/quiz">Recommendation Quiz</a></li>
          <li><a href="/games/allgames">View All Games</a></li>
          <li><a href="/games/search">Search For a Game</a></li>
		  <li><a href="/logout">Log out</a></li>
		</ul>
	  </nav>
	</header> 
</main>
